* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* nav component  */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    padding: 20px 30px;
    height: 70px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 25%);
}

/* hero component  */
.hero-section {
    width: 100%;
    margin-top: 70px;
    padding: 36px;
    display: flex;
    flex-direction: column;
}

.hero-img {
    max-width: 650px;
    width: 100%;
    align-self: center;
}

.hero-header {
    font-size: 3.2rem;
    margin: 36px 0 16px 0;
}

.hero-disc {
    font-size: 2rem;
    max-width: 600px;
    width: 100%;
}


/* card-list section  */
.card-list {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
}

/* card component  */
.card-container {
    margin: 50px 36px;
    font-size: 1rem;
    position: relative;
}

.openspots {
    position: absolute;
    background-color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0 5px;
}

.card-status {
    background-color: white;
    padding: 2px 6px;
    position: absolute;
    top: 60px;
    left: 43px;
    font-weight: 400;
}

.card-img {
    width: 240px;
    height: 300px;
    border-radius: 15px;
}

.card-ratings {
    margin: 9px 0 5px 0;
}

.card-ratings>img {
    width: 15px;
}

.card-ratings>.star {
    color: #222;
}

.country {
    color: #918e9b;
}

.card-disc {
    padding: 5px 0;
}

.country>span {
    position: relative;
    bottom: 4px;
    font-weight: bold;
}

.card-pricing {
    margin-top: 5px;
}

.card-pricing>.price {
    font-weight: 600;
}

/* media query  */
@media(max-width: 400px) {
    .hero-header {
        font-size: 2rem;
    }
    .hero-disc {
        font-size: 1.5rem;
    }
}
